@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p color="blue">Use this page to detail your site's privacy policy. But we do not have a privacy policy so there is really nothing to view :-)</p>
